
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(90deg, #e33780 0, #fca33e 100%); */
  .reset-button {
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 50px;
    padding: 10px;
    background-color: #FD4677;
    color: white;
    border: none;
    font-weight: bold;
  }
  img {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
  }
}

.tap-here {
  background-image: linear-gradient(90deg, #e33780 0, #fca33e 100%);
  border-radius: 20px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 40px;
  cursor: pointer;
}