
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(90deg, #e33780 0, #fca33e 100%); */
  img {
    height: 75vh;
    width: 65vw;
  }
}

.tap-here {
  background-image: linear-gradient(90deg, #e33780 0, #fca33e 100%);
  border-radius: 20px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 40px;
  cursor: pointer;
}